<div class="container">
  {{#if addQuestionTag}}
  <h4>Add a question:</h4>
  <div class="container">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            {{input value=author id="author" class="validate"}}
            <label for="author">User Name:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{input value=content id="content" class="validate"}}
            <label for="content">Enter Question</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{input value=notes id="notes" class="validate"}}
            <label for="notes">Enter any notes</label>
          </div>
        </div>
        <button {{action 'saveQuestion' question}} class="btn blue">Submit</button>
      </form>
    </div>
  </div>
  {{else}}
  <button class="btn blue" {{action 'showQuestionForm'}}>New Question</button><br>
  {{/if}}
</div>
