<div class="container">
  <h1 class="center-align thin">{{question.content}}</h1>
  <div class="container">
    <div class="content col m6 flow-text">
      <p class="bold" ><b>Asked by: {{question.author}} <span class="right">{{question.asked}}</span></b></p>
      <p>{{question.notes}}</p>
      <p>{{question.votes}}</p>
    </div>
  </div>
</div>
