<div class="container">
  {{#if updateQuestionTag}}
  <div class="container">
    <h4>Update question:</h4>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field inline">
            {{input value=author id="author" value=question.author}}
            <label class="active" for="author">User Name:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{input value=content id="content" value=question.content}}
            <label class="active" for="content">Enter Question</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{input value=notes id="notes" value=question.notes}}
            <label class="active" for="notes">Enter any notes</label>
          </div>
        </div>
        <button {{action 'updateQuestion' question}} class="btn purple left">Submit</button><br><br>
      </form>
    </div>
  </div>
  {{else}}
  <button class="btn purple right" {{action 'showQuestionForm'}}>Update Question</button>
  {{/if}}
</div>
